{
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "consistent",
  "arrowParens": "always",
  "singleQuote": true,
  "printWidth": 140,
  "bracketSameLine": true,
  "experimentalTernaries": true
}
